[Unit]
Description=CharybdeFS
After=default.target
[Service]
ExecStart=/opt/charybdefs/run-charybdefs.sh
RemainAfterExit=true
[Install]
WantedBy=default.target